.footer-main{
    margin-top: 10rem;
    margin-bottom: 50px;
}
footer{
    border-radius: 0 0 50px 50px;
    width: 80%;
    padding-top: 50px;
    margin: auto;
}
footer h2{
    font-size: 2rem;
}
footer p{
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}